* {
  margin: 0;
  padding: 0;
 
}

body {
  background-color: rgb(255, 253, 245);
  width: 92%;
  margin: auto;
  font-style: normal;
}
.positionfix{
    position: fixed;
    width: 100%;
   max-width: 100%;
    background-color: rgb(255, 253, 245);
   justify-content: center;
   display: flex;
   margin: auto;
   
}

.menu {
  max-width: 1440px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 253, 245);
  width: 100%;
 margin-left: -250px;
  justify-content: space-between;
  margin-top: 25px;
 
}
.logo {
width: 308px;
}
.menubuttons {
  justify-content: space-between;
  text-align: center;
  font-family: "Graphik", sans-serif;
  font-size: 18px;
  margin: auto;
}
.menuwrapper{
    position: relative;
}
.menubuttons > a {
  font-size: 18px;
  margin-right: 32px;
  padding: 6px 8px;
  color: #585757;
  font-weight: 400;
  text-decoration: none;
}
.thumbs {
  background-color: rgb(231, 51, 43);
  border-radius: 100px;
  padding: 10px;
  margin-left: 525px;
  position: absolute;
  margin-top: -47px;
}
#faq {
  margin-right: 100px;
}

#enrol {
  background-color: rgb(231, 51, 43);
  letter-spacing: 0.51426px;
  padding: 10.5px 32px;
  position: static;
  border-top-right-radius: 71px;
  border-bottom-right-radius: 71px;
  color: #fff;
  background-attachment: scroll;
  margin-right: 0;
}

.falsebody{
    width: 100%;
    margin:auto;
    max-width: 1440px;
    padding-top: 140px;
    display: flex;
}
.male1{
    margin-right: 0;
}
.middlepara1{
    color: rgb(231, 51, 43);
    font-size: 18px;
    font-family: "Graphik", sans-serif;
    font-weight: 400;
    text-align: center;
}
.middlepara2{
    padding-top: 10px;
    text-align: center;
    color: rgb(27, 26, 32);
    font-family: "Graphik", sans-serif;
    font-size: 55px;
    font-weight: 600;
    line-height: 60.5px;
    font-style: normal;
    margin-bottom: 5px;

}

.lineimage{
    margin-bottom: 25px;
    display: flex;
    justify-content: right;
   
}
.middlepara3{
    font-size: 18px;
    color: rgb(27, 26, 32);
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-bottom: 40px;
    font-family: "Graphik", sans-serif;
    display:block ;
    width: 430px;
    font-style: normal;
    margin: auto;
    
}

.enrollink{
    text-align: center;
}
.buttonone{
    background-color: rgb(231, 51, 43);
  letter-spacing: 0.51426px;
  padding: 10.5px 32px;
  position: static;
  border-radius: 71px;
  color: #fff;
  background-attachment: scroll;
  border: none;
  font-size: 18px;
  
}

