* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
}
body {
  background-color: rgb(255, 253, 245);
}

.menu {
  max-width: 1440px;
  display: flex;
  padding: 0 55px;
  align-items: center;
  background-color: ;
  position: fixed;
  margin-top: 12px;
  background-color: rgb(255, 253, 245);
  margin: auto;
}
.logo {
  margin-right: 400px;
}
.menubuttons {
  max-width: 1440px;
  justify-content: space-between;
  text-align: center;
  font-family: "Graphik", sans-serif;
  font-size: 18px;
}
.menubuttons > a {
  font-size: 18px;
  margin-right: 32px;
  padding: 6px 8px;
  color: #585757;
  font-weight: 400;
  text-decoration: none;
}
.thumbs {
  background-color: rgb(231, 51, 43);
  border-radius: 100px;
  padding: 10px;
  margin-left: -240px;
}
#faq {
  margin-right: 100px;
}

#enrol {
  background-color: rgb(231, 51, 43);
  letter-spacing: 0.51426px;
  padding: 10px 32px;
  position: static;
  border-top-right-radius: 71px;
  border-bottom-right-radius: 71px;
  color: #fff;
}
