@media screen and (min-width:1200px) {
  



* {
    margin: 0;
    padding: 0;
   
  } 
  
  body {
    display: block;
    margin: auto;
    font-style: normal; 
    font-family: "graphik", sans-serif;

  }
  .menufix{
    background-color: rgb(255, 255, 255);
    max-width: 2000px;
    
  }
  .positionfix{
    width: 100%;
   padding-bottom: 30px;
     max-width: 1440px;
      background-color: rgb(255, 255, 255);
     justify-content: left;
     display: flex;
     align-items: center;
     position: fixed;
    
  }
  
  .menu {
    
  max-width: 1440px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 88%;
    margin: 12px 103px;
   /* margin-left: -250px;
   margin-right: -180px; */
    justify-content: space-between;
    height: 40px;
   
    
  }
  .logo {
  width: 138px;
  margin-left: -33px;
  }
  .menubuttons {
    justify-content: space-between;
    text-align: center;
    font-family: "Graphik", sans-serif;
    font-size: 18px;
    
    background-color:rgb(255, 255, 255) ;
   
    }

    .menubuttons>a {
      margin-top: 16px;
      font-size: 16px;
      margin-right: 48px;
      padding: 6px 8px;
      color: #585757;
      font-weight: 400;
      text-decoration: none;
      font-family:  "Graphik", sans-serif;
      
    }
    .menubuttons>a  :active{
      border-bottom: 2px solid rgb(231, 51, 43);
      scroll-behavior: smooth;
    }

    .home:visited{
      border-bottom: 2px solid rgb(231, 51, 43);
      scroll-behavior: auto;
    }
  

  #faq{
    align-items: center;
    margin: 0 15px 0 0;
    padding: 11px 35px;
    justify-content: center;
    background-color: rgb(231, 51, 43);
    border: none;
    font-size: 16px;
    font-family:  "Graphik", sans-serif;
    border-bottom-right-radius: 8px;
      
  }


  #faq>a {color: rgb(255, 255, 255);
    text-decoration: none;

  }

    
.firstbody{
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin-left: 103px;

  align-items: center;
  padding-top: 200px;
  margin: 0 103px;
  
}

.vettedtalents{
 
  
   max-width: 50%;
   flex-direction: column;

}
.vettedparagraph{
  display: block;
  width: 720px;
}
.vettedbuttons{
display: flex;
align-items: left;

}

.vettedpara{
color: rgb(22 22 23);
font-family:"Graphik", sans-serif ;
font-weight: 800;
font-size: 40px;
line-height: 49px;

}

.line{
  margin: -24px 432px 15px;
  
}

.atzuri{
  color: rgb(120, 120, 120);
  font-family: "Graphik", sans-serif ;
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  width: 554px;

  
}
.vettedbuttons{
  margin-top:30px ;
}

.butthire{
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgb(231, 51, 43);
  box-shadow: rgb(0, 0, 0) 0px 3px 3px -2px;
  border: none;
  font-family:"Graphik", sans-serif ;
  cursor: pointer;
  font-size: 16px;
  padding: 11px 50px;
  margin-right: 15px;
  border-bottom-right-radius: 8px;
}

.butthire:hover, .buttjoin:hover {
  box-shadow: 20px 4px 30px 5px rgba(100, 100, 100, 0.16);
}

.buttjoin{
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgb(88, 88, 88);
  box-shadow: rgb(0, 0, 0) 0px 3px 3px -2px;
  border: none;
  font-family:"Graphik", sans-serif ;
  cursor: pointer;
  font-size: 16px;
  padding: 11px 50px;
  border-bottom-right-radius: 8px;
}

.headimg{
  width: 50%;
  display: flex;
  justify-content: end;
}

.head-line{
  width: 138px;
  display: flex;
  position: relative;
  z-index: -2;
  margin-left:-40px ;
  margin-top: 100px;
}


.section2{
  margin-top: 200px;
  width: 100%;
  padding-bottom: 142px;
  padding-top: 90px;
  background-image: url(bgsection2.063bd869082548bafa74.png);
  background-size: contain;
  object-position: center;
  
}

.impacted{
  display: flex;
  
  margin-left: 99.90px;
  max-width: 1440px;
  margin-top: -24px;
  

}
.impactedpara{
  
  display: flex;
flex-direction: column;

justify-content: left;
width: 50%;
  
}

.impacted1{
  line-height: 49px;
  font-weight: 800;
  color: rgb(22 22 23);
  font-family: "Graphik", sans-serif ;
  font-size: 40px;
  padding: 24px 0 0 0;
  margin-top: 24px;


 
}

.impacted2{

color: #161617;
font-family: "Graphik", sans-serif ;
padding-top: 10px;
font-weight: bold;
font-size: 19px;
line-height: 22px;


}
  .impacted3{
    
    font-family: "Graphik", sans-serif ;
    font-weight: 400;
    line-height: 22px;
    padding-top: 10px;
   
    font-size: 19px;
    color: #787878;
  }
  
  .flags{
    padding-top: 19px;
    
    
  }

  .flagger{
    
    background-color: #ffff;
    padding: 7px;
    border-radius:8px ;
    height: 42px;
    font: normal;
    margin-right: 16px;
    width: 42px;
  }
.image{
  width:50%;
  /* padding: 24px 0 0 24px; */
  
  display: flex;
  justify-content: center;
}

.section3{
margin-left: 99.90px;
max-width: 1440px;
padding-bottom: 100px;
padding-top: 100px;

}

.sec3par1{
  color: #161617;
    font-family: "Graphik", sans-serif ;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 49px;
    width: 457px;
    padding-bottom: 35px;
}
.sec3par2{
  padding-top: 55px;
  color: #161617;
  font-family: "Graphik", sans-serif ;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 49px;
 
  padding-bottom: 35px;
}

.sec3{
display: flex;
flex-direction: row;
align-items: center;
padding: 24px 24px 0 0;
max-width: 25%;
width: 25%;
 transition: transform 0.5s ease;
}

.o2{ 
  display: flex;
  max-width: 1440px;
  width: 100%;
  height: 100%;

}

.edgeline{
  width: 308px;
  display: flex;
  position: relative;
  z-index: -2;
  margin-left:-40px ;
  margin-bottom:60px;
  justify-content: end;
}

.sec3:hover{
  transform: translateY(-12%) ;
}

.sec3>p{
  background-color: #ffff;
  background-size: auto;
  background-origin: padding-box;
  border-radius: 8px;
  box-shadow: 0 8px 30px hsla(0,0%,48%,.16);
  color: #787878;
  font-family: "Graphik", sans-serif ;
  font-style: normal;
  font-weight: 400;
  padding: 5px;
  text-align: center;
  font-size: 18px;
align-items: center;
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: center;
}
 
.linee {
  width: 138px;
}


.sec32{
  display: inline-block;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px 0 0;
  
  transition: transform 0.3s ease;
}

.sec32:hover{
  transform: translateY(-20%) ;
}

.sec32>p{
  background-color: #ffff;
  background-size: auto;
  background-origin: padding-box;
  border-radius: 8px;
  box-shadow: 0 8px 30px hsla(0,0%,48%,.16);
  color: #787878;
  font-family: "Graphik", sans-serif ;
  font-style: normal;
  font-weight: 400;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  align-items: center;
width: 100%;
  height: 43px;
  display: flex;
  justify-content: center;
}


.section4{

background-color: rgb(255, 248, 229);
padding-bottom: 80px;

}

.section4one{
margin: 0 103px;
max-width: 1440px;
}

.whyhire{

  text-align: center;
  font-size: 40px;
  font-family: "Graphik", sans-serif ;
  font-weight: 800;
  line-height: 49px;
  font-style: normal;
  color: #161617;
  padding-top: 100px;
}

.section4two{
padding-top: 80px;
display: flex;
}

.section4three{
  display: flex;
  justify-content: center;
}

.peop{
  border-bottom-right-radius: 16px;
  background-color: #ffff;
  color: rgb(120, 120, 120);
   display: flex;
  flex-direction: column;
  align-items: center;
  height: 185px;
  justify-content: center;
  padding: 45px 10px;
  width: 359px;
  margin-right: 17px;
  font-family: "graphik", sans-serif;
}
.peop:hover{
  background-color: rgb(22, 22, 23);
  color: rgb(255, 255, 255);
}

.sec4paragraphs{
  line-height: 22px;
  padding-top: 15px;
  width: 305px;
  color: rgb(120, 120, 120);
  font-size: 17px;
  font-weight: 400;
  text-align: center;
 font-family:  "graphik", sans-serif;
}
.sec4paragraphs:hover{
  color: rgb(255, 255, 255);
}

.write{
  border-bottom-right-radius: 16px;
  background-color: #ffff;
  color: rgb(120, 120, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 185px;
  padding: 45px 10px;
  width: 359px;
  margin-right: 17px;
  margin-top: 35px;
  font-family: "graphik", sans-serif;
  
}
.write:hover{
  background-color: rgb(22, 22, 23);
  color: rgb(255, 255, 255);
}

.section4buttons{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.section4buttons:hover{

}

.footer1{
background-color: rgb(22, 22, 23);
padding: 80px 0 0 0;
display: flex;
justify-content: center;
max-width: 1440px;
}

.footer2{
  color: #ffff;
  max-width: 1440px;
  width: 90%;
}
.logosocials{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.socials>img{
  padding-right: 15px;

  height:31px;
}
.copyright{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}
.copyright p{
  font-family: "graphik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 16px;
}



}


@media screen and (max-width: px) {

  .firstbody{
    display: flex;
    flex-direction: column;

  }
  
}